<p id="notice"><%= notice %></p>

<div class="post-header">
  <b>Название:</b>
</div>
<div class="post-content">
  <%= @post.title %>
</div>

<div class="post-header">
  <b>Содержание:</b>
</div>
<div class="post-content">
  <%= @post.content %>
</div>
<div class="post-header">
  <b>Дата создания</b>
</div>
<div class="post-content">
  <%= @post.created_at %>
</div>
<div class="post-header">
  <b>email автора</b>
</div>
<div class="post-content">
  <%= @post.user.email if @post.user %>
</div>

<p>
  <div class="upvote">
    <input type="button" id="upvote" value="+">
    </input>
  </div>
  <div class="downvote">
    <input type="button" id="downvote" value="-">
    </input>
  </div>
</p>

<% if current_user && current_user.id == @post.user_id %>
  <%= link_to 'Редактировать', edit_post_path(@post) %> |
<% end %>
<%= link_to 'Назад', posts_path %>
